<% content_for :title, "Projects" %>
<% content_for :actions do %>
  <% link_to "Novo Projeto", new_organization_project_path(@organization), class: "btn btn-primary" %>
<% end %>
<% breadcrumb :projects, @organization %>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Projetos</h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Projeto</th>
          <th>Budget</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td>
              <strong><%= p.name %></strong><br />
              <small><%= p.description %></small>
            </td>
            <td>
              <%= p.budget %><br />
              <small>Bloqueia: <%= p.block %></small>
            </td>
            <td class="project-actions">
              <%= link_to raw("#{fa_icon "folder"} Visualizar"), project_path(p), class: "btn btn-white btn-sm" %>
              <%= link_to raw("#{fa_icon "pencil"} Editar"), edit_project_path(p), class: "btn btn-white btn-sm" %>
              <%= link_to raw("#{fa_icon "close"} Excluir"), project_path(p), method: :delete, class: "btn btn-white btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>