<% content_for :title, "Usuários" %>
<% content_for :actions do %>
  <% link_to "Novo Usuário", new_user_path, class: "btn btn-primary"%>
<% end %>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Usuários</h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.id %></td>
            <td><%= u.first_name %></td>
            <td><%= u.last_name %></td>
            <td><%= mail_to u.email, u.email %></td>
            <td class="project-actions">
              <%= link_to raw("#{fa_icon "folder"} Visualizar"), user_path(u), class: "btn btn-white btn-sm" %>
              <%= link_to raw("#{fa_icon "pencil"} Editar"), edit_user_path(u), class: "btn btn-white btn-sm" %>
              <%= link_to raw("#{fa_icon "close"} Excluir"), user_path(u), method: :delete, class: "btn btn-white btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>