<% content_for :title, @user.first_name %>
<% breadcrumb :user, @user %>

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-b-md">
          <%= link_to "Editar", edit_user_path(@user), class: "btn btn-white btn-xs pull-right" %>
          <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
          <% if @user.profile_picture? %>
          <div class="col-lg-2">
              <span><%= image_tag @user.profile_picture, class: "img-circle", alt: "#{@user.first_name} #{@user.last_name}", size: "300" %></span>
          </div>
          <% end %>
          <div class="col-lg-10">
            <dl class="dl-horizontal">
              <dt>First Name:</dt> <dd><%= @user.first_name %></dd>
              <dt>Last Name:</dt> <dd><%= @user.last_name %></dd>
              <dt>E-mail:</dt> <dd><%= @user.email %></dd>
              <dt>Location:</dt> <dd><%= @user.location %></dd>
              <dt>About:</dt> <dd><%= @user.about %></dd>
            </dl>
          </div>
      </div>
    </div>
  </div>
</div>