<% content_for :title, @user.first_name %>
<% breadcrumb :user, @user %>
<% content_for :actions do %>
  <%= link_to "Editar", edit_user_path(@user), class: "btn btn-danger" %>
<% end %>

<div class="col-md-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Perfil</h5>
    </div>
    <div>
      <% if @user.profile_picture? %>
      <div class="ibox-content no-padding border-left-right">
        <%= image_tag @user.profile_picture, class: "img-responsive", alt: "" %>
      </div>
      <% end %>
      <div class="ibox-content profile-content">
        <h4><strong><%= "#{@user.first_name} #{@user.last_name}" %></strong></h4>
        <p><%= fa_icon "map-marker" %> <%= @user.location %></p>
        <h5>
          About me
        </h5>
        <p>
          <%= @user.about %>
        </p>
        <div class="user-button">
          <div class="row">
            <div class="col-md-12">
              <%= mail_to @user.email, raw("#{fa_icon "envelope"} #{@user.email}"), class: "btn btn-primary btn-sm btn-block" %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>