<% content_for :title, "Editar #{@organization.name}" %>
<% breadcrumb :edit_organization, @organization %>
<% content_for :actions do %>
<%= link_to "Atualizar Organização", "#", class: "btn btn-primary pull-right", onclick: '$(".edit_organization").submit()' %>
<% end %>

<%= form_for @organization do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <%= render partial: "layouts/float_header", locals: { title: "Identificação" } %>
        <div class="ibox-content">
          <div class="form-horizontal m-t-md">
            <div class="form-group">
              <%= f.label :name, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :full_name, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :full_name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cnpj, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :cnpj, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :is_company, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.check_box :is_company %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :is_client, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.check_box :is_client %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :is_vendor, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.check_box :is_vendor %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="ibox float-e-margins">
        <%= render partial: "layouts/float_header", locals: { title: "Localização" } %>
        <div class="ibox-content">
          <div class="form-horizontal m-t-md">
            <div class="form-group">
              <%= f.label :address1, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :address1, class: "form-control" %>
                <%= f.text_field :address2, class: "form-control" %>
                <%= f.text_field :address3, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :zipcode, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :zipcode, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :city, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :city, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :state, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :state, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :country, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :country, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <%= render partial: "layouts/float_header", locals: { title: "Outras informações" } %>
        <div class="ibox-content">
          <div class="form-horizontal m-t-md">
            <div class="form-group">
              <%= f.label :website, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :website, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :primary_email, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :primary_email, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>