<% content_for :title, "Detalhe Organização #{@organization.name}" %>
<% breadcrumb :organization, @organization %>

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-b-md">
          <%= link_to "Editar", edit_organization_path(@organization), class: "btn btn-white btn-xs pull-right" %>
          <h1><%= @organization.full_name %></h1>
          <span class="btn btn-outline btn-danger dim" type="button"><i class="fa fa-heart"></i> Cliente</span>
          <span class="btn btn-outline btn-success dim" type="button"><i class="fa fa-truck"></i> Fornecedor</span>
          <span class="btn btn-outline btn-primary dim" type="button"><i class="fa fa-star"></i> Fator 7</span>
        </div>

        <dl class="dl-horizontal">
          <dt>Nome Fantasia:</dt> <dd><%= @organization.name %></dd>
          <dt>Razão Social:</dt> <dd><%= @organization.full_name %></dd>
          <dt>CNPJ:</dt> <dd><%= @organization.cnpj %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <dl class="dl-horizontal">
          <dt>Endereço:</dt> <dd><%= @organization.address1 %></dd>
          <% if @organization.address2 %>
          <dt>&nbsp;</dt> <dd><%= @organization.address2 %></dd>
          <% end %>
          <% if @organization.address3 %>
          <dt>&nbsp;</dt> <dd><%= @organization.address3 %></dd>
          <% end %>
          <dt>CEP:</dt> <dd><%= @organization.zipcode %></dd>
          <dt>Localização:</dt> <dd><%= @organization.city %>, <%= @organization.state %>, <%= @organization.country %></dd>
          <dt>Website:</dt> <dd><%= link_to @organization.website, @organization.website %></dd>
          <dt>E-mail:</dt> <dd><%= link_to @organization.primary_email, @organization.primary_email %></dd>
        </dl>
      </div>
      <div class="col-lg-7">
        <dl class="dl-horizontal" >
          <dt>Atualizada em:</dt> <dd><%= @organization.updated_at %></dd>
          <dt>Criada em:</dt> <dd><%= @organization.created_at %></dd>
        </dl>
      </div>
    </div>
    <div class="row m-t-sm">
      <div class="col-lg-12">
        <div class="panel blank-panel">
          <div class="panel-heading">
            <div class="panel-options">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab">Projetos</a></li>
                <li class=""><a href="#tab-2" data-toggle="tab">Atividade Recente</a></li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-1">
                <div class="feed-activity-list">
                  <div class="feed-element">
                    <div class="media-body ">
                      <div class="well">
                        <strong>Baseline 1</strong><br>
                        <dl class="dl-horizontal">
                          <dt>Realizado:</dt>
                          <dd>
                            <div class="progress progress-striped active m-b-sm">
                              <div style="width: 60%;" class="progress-bar"></div>
                            </div>
                            <strong>60%</strong> do orçado para o projeto já foi realizado.
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="feed-element">
                    <div class="media-body ">
                      <div class="well">
                        <strong>Baseline 1</strong><br>
                        <dl class="dl-horizontal">
                          <dt>Realizado:</dt>
                          <dd>
                            <div class="progress progress-striped active m-b-sm">
                              <div style="width: 90%;" class="progress-bar progress-bar-danger"></div>
                            </div>
                            <strong>90%</strong> do orçado para o projeto já foi realizado.
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Projeto</th>
                      <th>Colaborador</th>
                      <th>Início</th>
                      <th>Término</th>
                      <th>Comentários</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="label label-primary"><i class="fa fa-check"></i> Completado</span>
                      </td>
                      <td>
                        Baseline 1
                      </td>
                      <td>
                        Guilherme Taschetto
                      </td>
                      <td>
                       12.11.2014 08:00
                     </td>
                     <td>
                      12.07.2014 12:00
                    </td>
                    <td>
                      <p class="small">
                        Realizadas SDTs XXXXX e YYYYY.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-success"><i class="fa fa-star"></i> Blá blá</span>
                    </td>
                    <td>
                      CSC
                    </td>
                    <td>
                      Elton Martins
                    </td>
                    <td>
                      12.07.2014 10:10:1
                    </td>
                    <td>
                      14.07.2014 10:16:36
                    </td>
                    <td>
                      <p class="small">
                        Encontrado bug na geração de ordem de patati patatá.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-danger"><i class="fa fa-close"></i> Bug</span>
                    </td>
                    <td>
                      CSC
                    </td>
                    <td>
                      Rodrigo Krigger
                    </td>
                    <td>
                      12.07.2014 10:10:1
                    </td>
                    <td>
                      14.07.2014 10:16:36
                    </td>
                    <td>
                      <p class="small">
                        Um tanto quanto másculo, ai com M maiúsculo. Vejam só os meus músculos que com amor cultivei.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="label label-warning"><i class="fa fa-pencil"></i> Bug</span>
                    </td>
                    <td>
                      CSC
                    </td>
                    <td>
                    Giuliano von Borowski
                    </td>
                    <td>
                      12.07.2014 10:10:1
                    </td>
                    <td>
                      14.07.2014 10:16:36
                    </td>
                    <td>
                      <p class="small">
                        Encontrado bug na geração de ordem de patati patatá.
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>