      <ul class="nav" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <% if current_user.profile_picture? %>
            <span><%= image_tag current_user.profile_picture, class: "img-circle", alt: "image", size: "75" %></span>
            <% end %>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear">
                <span class="block m-t-xs"><strong class="font-bold"><%= "#{current_user.first_name} #{current_user.last_name}" %></strong></span>
                <span class="text-muted text-xs block"><%= current_user.about %> <b class="caret"></b></span>
              </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><%= link_to "Editar perfil", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </div>
          <div class="logo-element">
            IN+
          </div>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span>
          <% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Fator 7</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Projetos</a></li>
            <li><a href="#">Contatos</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">Horas</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li><a href="#">Lançamentos</a></li>
            <li><a href="#">Relatório</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-dollar"></i> <span class="nav-label">Despesas</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li><a href="#">Lançamentos</a></li>
            <li><a href="#">Relatório</a></li>
          </ul>
        </li>
      </ul>