<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Fator 7 IN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="skin-2">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">IN</h1>
            </div>
            <% if notice %>
              <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= notice %>
              </div>
            <% end %>
            <% if alert %>
              <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= alert %>
              </div>
            <% end %>
            <%= yield %>
        </div>
    </div>
  </body>
</html>
